{% extends "base.html" %}

{% block head %}
{% block title %}Sobre nós{% endblock %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Sobre nós</h1>

<div class="">
    <p class="important">
        O Ateliê de Bolos é um projeto realizado na disciplina de programação Web lecionada pelo professor Carlos Hairon
        Ribeiro Goncalves
        (IFCE). Os estudantes envolvidos no projeto são:
    </p>
</div>

<ul>
    <li>
        <p><strong>Lucas Wagner Fernandes</strong></p>
    </li>
    <li>
        <p><strong>Paulo Tomas Barboza da Silva</strong></p>
    </li>
    <li>
        <p><strong>Ronald dos Santos Costa</strong></p>
    </li>
</ul>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}