.layered-image {
    background: linear-gradient(to bottom, rgb(46, 32, 43), transparent), url("../img/cakes.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
    width: 100vw;
    position: absolute;

  }