.cakeImage {
    border-radius: 10px;
    max-width: 100%;
    width: 165.13px;
    height: 165.13px;
    object-fit: cover;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    
    width: 482.66px;
    height: 165.13px;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.productTitle {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19.8154px;
    line-height: 26px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.productDescription {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11.559px;
    line-height: 17px;
    
    letter-spacing: 0.20641px;
    
    color: #000000;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.productPrice {
    font-style: normal;
    font-weight: 400;
    font-size: 29.7231px;
    line-height: 36px;


    color: #000000;



    flex: none;
    order: 0;
    flex-grow: 0;
}

.productButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.25641px;
    gap: 8.26px;
    color: white;

    background: #E6359F;
    border-radius: 41.2821px;
    border-color: #E6359F;

    flex: none;
    order: 1;
    flex-grow: 0;
}